body{
    margin: 5px;
    padding: 10px 150px 5px 80px;
    background-image: url(../images/d2.png);

}
form{
    font-size:115%;
    color:black;
}
div{

    background: rgba(0,0,0,0.3);
    width:45%;
    border: 1px solid black;
    border-radius: 20px;
}
body{
    background-image: url("images/d2.png");
    background-size: cover;

}
#submit{
    background-color:green;
    border-radius: 10px;
    color: white;
}
#reset{
    background-color: orange;
    border-radius:10px;
    color:black;
}
